*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: "Roboto Mono",monospace;
    text-decoration: none;
    color: white;
    
}
html,body {
  width: 100%;
  overflow-x: hidden;
}
body{
    overflow-x: hidden;
    /* background: url(./MAKEATHON/images/6004890.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    background: linear-gradient(109.6deg, #000000 11.5%, rgb(0, 0, 0) 91.2%);
    scroll-behavior: smooth;
}
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: black;
	border-radius: 10px;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: black;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
		           left bottom,
			   left top,
			   color-stop(0.44, #f6e050),
			   color-stop(0.72, #e8cc16),
			   color-stop(0.86, #ffdd00 ));
}

#preloader {
    background: black url(./MAKEATHON/images/preloader.gif) no-repeat center center;
    background-size: 10%;
    height: 100vh;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 999999999;
}

#navbared{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-90deg) translate(-103%, 0);
    transform-origin: left top;
    visibility: hidden;
    position: fixed;
  }
  
  #navbared.sticky{
    visibility: visible;
  }

  #main{
    height: auto;
    width: 100%;
  }

  #short{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px 20px 20px;
    font-family: "Arima", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color:  #ffcf40;
  }

  #mat-short{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 20px 20px 20px;
    font-family: "Arima", system-ui;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color:  #ffcf40;
  }

  #results-container{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.schedule-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  table{
    width: 60vw;
    background-color: #fff5;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    overflow: hidden;
    text-align: center;
    margin-bottom: 50px;
  }
  
  table,td{
    padding: 1.2rem 1rem;
    font-size: 20px;
  }

  thead th{
    padding: 20px 20px 20px 35px;
    color: #ffcf40;
  }

  tbody td{
    color: white;
  }
  
  /* .table-body{
    padding: 50px;
  } */

  tbody tr:nth-child(even){
    background-color: #0000000b;
  }
  
  tbody tr:hover{
    background-color: #ffbf00;
    cursor: pointer;
  }
  
  td{
    color: var(--color-font);
    font-weight: 600;
    font-size: 12px;
  }
  
  td a{
    text-decoration: none;
    cursor: pointer;
    color: var(--color-font);
    font-size: 12px;
  }

  #tabled{
    color: red;
    text-align: center;
  }


  .footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#bf9b30;
  }
  
  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  
  .footer-dark ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.6;
  }
  
  .footer-dark ul a:hover {
    opacity:0.8;
  }

  .footer-dark .item.social > a {
    font-size:20px;
    width:36px;
    height:36px;
    line-height:36px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    box-shadow:0 0 0 1px rgba(255,255,255,0.4);
    margin:0 8px;
    color:#fff;
    opacity:0.75;
  }
  
  .footer-dark .item.social > a:hover {
    opacity:0.9;
  }
  
  .footer-dark .copyright {
    text-align:center;
    padding-top:24px;
    opacity:0.3;
    font-size:13px;
    margin-bottom:0;
  }
